<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Enter Email" [(ngModel)]="data.email"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" class="form-control" id="firstName" placeholder="Enter First Name" [(ngModel)]="data.first"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" placeholder="Enter Last Name" [(ngModel)]="data.last"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label for="company">Company Name</label>
      <input type="text" class="form-control" id="company" placeholder="Enter Company Name" [(ngModel)]="data.company"
             [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group" *ngIf="title=='Edit Customer Dialog'">
      <label for="type">Customer Type</label>
      <input type="text" class="form-control" id="type" placeholder="Enter Customer Typee" [(ngModel)]="data.type"
             [ngModelOptions]="{standalone: true}">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="proceed()">Proceed</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.dismiss()">Close</button>
</div>
