<div class="modal-header">
  <h5 class="modal-title">Confirm Alert</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Are you sure you want to delete customer</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('1')">Proceed</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>
