<div class="modal-header">
  <h5 class="modal-title">Select columns before export</h5>
  <button type="button" class="close" (click)="activeModal.dismiss()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form-check form-check-inline" *ngFor="let column of columns; let i = index;">
    <input class="form-check-input" type="checkbox" [id]="'col-'+ i" [value]="column.keyMapping"
           [(ngModel)]="column.checked" [disabled]="column.disabled">
    <label class="form-check-label" [for]="'col-'+ i">{{column.key}}</label>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="getResult()">Proceed</button>
  <button type="button" class="btn btn-secondary" (click)="activeModal.dismiss()">Close</button>
</div>
