<div class="container my-5">
  <div class="my-2">
    <div class="border-bottom">
      <h4 class="text-center">Pie Chart</h4>
    </div>
    <app-pie-chart [pieChartLabels]="getCustomerTypes()"
                   [pieChartData]="getChartData()"></app-pie-chart>
  </div>
  <div class="my-4 d-flex justify-content-between border-bottom">
    <h4>Customers</h4>
    <div class="d-none d-md-block">
      <div class="border-bottom mb-2">
        <a class="p-2" (click)="addCustomer()"><i class="fa fa-plus mr-2"></i>Add New Customer</a>
      </div>
      <div class="mb-2 text-right">
        Export <a class="mr-2 p-2" (click)="exportPDF()"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
        <a class="p-2" (click)="generateExcel()"><i class="fa fa-file-excel-o" aria-hidden="true"></i></a>
      </div>

    </div>
  </div>
  <div class="d-block d-md-none text-center">
    <a class="mr-2 p-2 border-bottom mt-4" (click)="addCustomer()"><i class="fa fa-plus mr-2"></i>Add New Customer</a>
    <div class="border-bottom my-4 p-4">
      Export <a class="mr-2 p-2" (click)="exportPDF()"><i class="fa fa-file-pdf-o mr-2" aria-hidden="true"></i></a>
      <a class=" p-2" (click)="generateExcel()"><i class="fa fa-file-excel-o mr-2" aria-hidden="true"></i></a>
    </div>

  </div>
  <div class="table-responsive">
    <table [dtOptions]="dtOptions" datatable class="table row-border hover " [dtTrigger]="dtTrigger">
      <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Company name</th>
        <th>Customer Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of persons">
        <td>{{ person.id }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.first }}</td>
        <td>{{ person.last }}</td>
        <td>{{ person.company }}</td>
        <td>{{ person.type }}</td>
        <td>
          <a class="mr-2 p-2" (click)="editCustomer(person)"><i class="fa fa-pencil"></i></a>
          <a class="p-2" (click)="delCustomer(person.id)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
